<!DOCTYPE html>
<html>

<head>
  <title>Music Museum</title>
  <meta charset="utf-8">
  <meta name="author" content="ATLMendoza">
  <meta name="description" content="Music Museum, a website where artist could drop the link to their soongs">
  <meta name="keywords" content="library, node.js, express, localStorage, route binding, get, post">
  <meta name="revised" content="04/20/2024"/>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="https://cdn.glitch.global/3723d3ca-867e-4bf2-bd7d-fcb84d6f4067/music.ico?v=1727085204604" type="images/ico" />
</head>

<body>
  <header>
    <nav>
      <a href="/"> Home </a>
      <a href="/share"> Share </a>
      <a href="/listen"> Listen </a>
    </nav>
  </header>
  <main>
    <section class="content-container">
      <h1> Music Museum </h1>
      <p> A website that allows artists to share information about their music. </p>
      <p> Click Share to record information regarding your Music</p>
      <p> Click Listen to choose your song to listen to</p>
    </section>  
    <!-- Initial form was generated using replit AI last February 18 -->
    <section class="content-container">
      <img src="https://cdn.glitch.global/3723d3ca-867e-4bf2-bd7d-fcb84d6f4067/music.jpg?v=1727085225620" />
    </section>
  </main>
  <footer>
    <p>Copyright &copy; ALMendoza 2024 </p>
  </footer>

  </body>

</html>